.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 600px;
    height: 300px
}

.vertical-middle { vertical-align: middle; text-align: center; }

.ss-dialog { width: 634px; }
.withholding-dialog { width: 634px; }
.wht-dialog { width: 634px; }
.medicare-dialog { width: 634px; }
.employee-dialog {  }

.form-horizontal .small-label { width: 100px; }
.form-horizontal .small-controls { margin-left: 120px; }
.input-time { width: 100px }

.schedule-grid { height: 243px; width: auto; }
.schedule-title { font-weight: bold; text-align: right; }

.timesheet tbody td {
    vertical-align: middle;
    padding: 0;
    text-align: center;
    margin: 0;
    width: 60px;
}
.timesheet tbody td input[type='time']{
    margin: 0;
    border: none;
}

