<!DOCTYPE html>
<html ng-app="payroll">
<head>
<title>Payroll</title>
<script src="js/idbstore.js"></script>
<script src="js/jquery-1.9.1.js"></script>
<script src="js/angular.js"></script>
<script src="js/ui-bootstrap-tpls-0.5.0.js"></script>
<script src="js/ng-grid-2.0.7.min.js"></script>
<script src="js/employee.js"></script>
<script src="js/employee-list.js"></script>
<script src="js/withholding.js"></script>
<script src="js/medicare.js"></script>
<script src="js/withholding-types.js"></script>
<script src="js/social-security.js"></script>
<script src="js/general-setup.js"></script>
<script src="js/store.js"></script>
<script src="js/store.js"></script>
<script src="js/data-service.js"></script>
<script src="js/print.js"></script>
<script src="js/payroll.js"></script>
<script type="text/ng-template" id="whtype-select.html">
    <div>
        <select ng-model="records[ row.rowIndex ].status">
            <option ng-repeat="wth in withholdingTypes" value="{{wth.type}}">{{wth.description}}</option>
        </select>
    </div>
</script>
<script type="text/ng-template" id="general-setup.html">
    <div>
        <div class="modal-header"><h3>General Setup</h3></div>
        <div class="modal-body">
            <form class="form-horizontal" name="setupForm">
                <div class="control-group">
                    <label class="control-label">Week Ending</label>

                    <div class="controls"><span class="uneditable-input">{{ data.paydayWeekday }}</span></div>
                </div>
                <fieldset>
                    <legend>Work Schedule</legend>
                    <div class="span3">
                        <div class="control-group">
                            <label class="control-label small-label" for="aMIn">AM In</label>

                            <div class="controls small-controls">
                                <input type="time" class="input-time" name="aMIn" id="aMIn" ng-model="data.amIn"
                                       required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label small-label" for="aMOut">AM Out</label>

                            <div class="controls small-controls">
                                <input type="time" class="input-time" name="aMOut" id="aMOut" ng-model="data.amOut"
                                       required/>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            <label class="control-label small-label" for="pMIn">PM In</label>

                            <div class="controls small-controls">
                                <input type="time" class="input-time" name="pMIn" id="pMIn" ng-model="data.pmIn"
                                       required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label small-label" for="pMOut">Pm Out</label>

                            <div class="controls small-controls">
                                <input type="time" class="input-time" name="pMOut" id="pMOut" ng-model="data.pmOut"
                                       required/>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            <label class="control-label small-label" for="regularHours">Regular Hours</label>

                            <div class="controls small-controls">
                                <input type="number" step="0.5" min="1" max="16" class="input-small" name="regularHours"
                                       id="regularHours" ng-model="data.regularHours" required/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Employee Benefits</legend>
                    <div class="span5">
                        <div class="control-group">
                            <label class="control-label">Pay Schedule</label>

                            <div class="controls"><span class="uneditable-input">{{ data.paySchedule }}</span></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="incentivePay">Incentive Pay</label>

                            <div class="controls">
                                <input type="number" name="incentivePay" id="incentivePay" step="0.01"
                                       class="input-small" ng-model="data.incentivePay" required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="sundayIncentive">Sunday Incentive</label>

                            <div class="controls">
                                <input type="number" name="sundayIncentive" id="sundayIncentive" step="0.01"
                                       class="input-small" ng-model="data.sundayIncentive" required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="overtimeFactor">Overtime Factor</label>

                            <div class="controls">
                                <input type="number" step="0.001" name="overtimeFactor" id="overtimeFactor"
                                       class="input-mini" ng-model="data.overtimeFactor" required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="legalHolidayFactor">Legal Holiday Factor</label>

                            <div class="controls">
                                <input type="number" step="0.001" name="legalHolidayFactor" id="legalHolidayFactor"
                                       class="input-mini" ng-model="data.legalHolidayFactor" required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="specialHolidayFactor">Special Holiday Factor</label>

                            <div class="controls">
                                <input type="number" step="0.001" name="specialHolidayFactor" id="specialHolidayFactor"
                                       class="input-mini" ng-model="data.specialHolidayFactor" required/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="sickDays">Sick Days</label>

                            <div class="controls">
                                <input type="number" step="0.5" name="sickDays" id="sickDays" class="input-mini"
                                       ng-model="data.sickDays" required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="vacationDays">Vacation Days</label>

                            <div class="controls">
                                <input type="number" step="0.5" name="vacationDays" id="vacationDays" class="input-mini"
                                       ng-model="data.vacationDays" required/>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="saveSetup()" ng-disabled="setupForm.$invalid">Done</button>
            <button class="btn btn-warning" ng-click="cancelSetup()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="social-security.html">
    <div>
        <div class="modal-header"><h3>Social Security</h3></div>
        <div class="modal-body">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <button class="btn" ng-click="addRow()"><i class="icon-plus"></i> Add Row</button>
                <button class="btn" ng-click="deleteRow()"><i class="icon-minus"></i> Delete Row</button>
            </div>
            <button class="offset1 btn btn-success" ng-click="saveSSS()">Save</button>
            <button class="btn btn-warning" ng-click="cancelSSS()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="withholding-types.html">
    <div>
        <div class="modal-header"><h3>Withholding Types</h3></div>
        <div class="modal-body">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <button class="btn" ng-click="addRow()"><i class="icon-plus"></i> Add Row</button>
                <button class="btn" ng-click="deleteRow()"><i class="icon-minus"></i> Delete Row</button>
            </div>
            <button class="offset1 btn btn-success" ng-click="save()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="medicare.html">
    <div>
        <div class="modal-header"><h3>Medicare</h3></div>
        <div class="modal-body">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <button class="btn" ng-click="addRow()"><i class="icon-plus"></i> Add Row</button>
                <button class="btn" ng-click="deleteRow()"><i class="icon-minus"></i> Delete Row</button>
            </div>
            <button class="offset1 btn btn-success" ng-click="save()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="withholding.html">
    <div>
        <div class="modal-header"><h3>Withholding</h3></div>
        <div class="modal-body">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <button class="btn" ng-click="addRow()"><i class="icon-plus"></i> Add Row</button>
                <button class="btn" ng-click="deleteRows()"><i class="icon-minus"></i> Delete Selected</button>
            </div>
            <button class="offset1 btn btn-success" ng-click="save()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="store.html">
    <div>
        <div class="modal-header"><h3>Stores</h3></div>
        <div class="modal-body">
            <div ng-repeat="store in stores" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label small-label">Name</label>

                    <div class="controls small-controls">
                        <input type="text" ng-model="store.name" class="span6" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label small-label">Address</label>

                    <div class="controls small-controls">
                        <input type="text" ng-model="store.address" class="span6" required>
                    </div>
                </div>
                <span ng-show=" ! $last "><hr></span>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <button class="btn" ng-click="addStore()"><i class="icon-plus"></i> Add Store</button>
                <button class="btn" ng-click="deleteStore()"><i class="icon-minus"></i> Delete Store</button>
            </div>
            <button class="offset1 btn btn-success" ng-click="save()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="employee.html">
<div>
<div class="modal-header"><h3>Employee Detail</h3></div>
<div class="modal-body">
    <form class="form" name="employeeForm">
        <div class="control-group">
            <label class="control-label">Select Employee</label>

            <div class="controls form-inline">
                <div class="input-append">
                    <select class="span4" ng-model="record"
                            ng-options="(record.lastName + ', ' + record.firstName) for record in records" ng-disabled="employeeForm.$invalid"></select>
                    <button class="btn" ng-click="delete()"tooltip-placement="bottom" tooltip="Delete employee record">Delete</button>
                    <button class="btn" ng-click="print()"tooltip-placement="bottom" tooltip="Print employee record">Print</button>
                </div>
                <button class="btn" ng-click="add()" tooltip-placement="bottom" tooltip="Add employee record"><i class="icon-plus"></i> Add</button>
            </div>
        </div>
        <hr/>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls form-inline">
                <input type="text" class="input-medium" ng-model="record.firstName" placeholder="First" required/>
                <input type="text" class="input-small" ng-model="record.middleName" placeholder="Middle"/>
                <input type="text" class="input-medium" ng-model="record.lastName" placeholder="Last" required/>
                <button ng-model="record.active" ng-class="{ 'btn': true, 'btn-small': true, 'btn-info': record.active}" btn-checkbox>Active</button>
            </div>
        </div>
        <tabset>
            <tab heading="Salary">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Store</label>

                        <div class="controls">
                            <select ng-model="record.storeId" ng-options="store.id as store.name for store in stores" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Hourly Rate</label>
                        <div class="controls form-inline">
                            <input type="number" step="0.05" class="input-small" ng-model="record.hourlyRate" required/>
                            <label class="checkbox">
                                <input type="checkbox" ng-model="record.overtimePay"/>
                                Overtime Pay
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Sunday Pay - AM</label>

                        <div class="controls">
                            <input type="number" step="0.05" class="input-small" ng-model="record.sundayAMPay"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Sunday Pay - PM</label>

                        <div class="controls">
                            <input type="number" step="0.05" class="input-small" ng-model="record.sundayPMPay"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Withholding Type</label>

                        <div class="controls">
                            <select ng-model="record.withholdingType"
                                    ng-options="wht.type as wht.description for wht in withholdingTypes"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Process</label>

                        <div class="controls">
                            <div class="btn-group">
                                <button type="button" class="btn btn-small btn-info" ng-model="record.processWithholding"
                                        btn-checkbox>Withholding
                                </button>
                                <button type="button" class="btn btn-small btn-info" ng-model="record.processMedicare"
                                        btn-checkbox>Medicare
                                </button>
                                <button type="button" class="btn btn-small btn-info" ng-model="record.processSocialSecurity"
                                        btn-checkbox>SSS
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Schedule">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label small-label" for="amIn">AM In</label>
                                <div class="controls small-controls">
                                    <input type="time" class="input-time" name="amIn" id="amIn" ng-model="record.amIn"
                                           required/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label small-label" for="amOut">AM Out</label>
                                <div class="controls small-controls">
                                    <input type="time" class="input-time" name="amOut" id="amOut" ng-model="record.amOut"
                                           required/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label small-label">Sick Days</label>
                                <div class="controls small-controls">
                                    <input type="number" step="0.5" class="input-mini" ng-model="record.sickDays"/>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="control-group">
                                <label class="control-label small-label" for="pmIn">PM In</label>
                                <div class="controls small-controls">
                                    <input type="time" class="input-time" name="pmIn" id="pmIn" ng-model="record.pmIn"
                                           required/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label small-label" for="pmOut">Pm Out</label>
                                <div class="controls small-controls">
                                    <input type="time" class="input-time" name="pmOut" id="pmOut" ng-model="record.pmOut"
                                           required/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label small-label">Vacation Days</label>
                                <div class="controls small-controls">
                                    <input type="number" step="0.5" class="input-mini" ng-model="record.vacationDays"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-group">
                            <label class="control-label">Incentive Pay</label>
                            <div class="controls controls-row">
                                <input type="checkbox" ng-model="record.hasIncentive"/>
                                <input type="number" step="0.05" class="input-small" ng-model="record.incentivePay"  ng-disabled="!record.hasIncentive"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Sunday Incentive</label>
                            <div class="controls controls-row">
                                <input type="checkbox" ng-model="record.hasSundayIncentive"/>
                                <input type="number" step="0.05" class="input-small"
                                       ng-model="record.sundayIncentivePay" ng-disabled="!record.hasSundayIncentive"/>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-small btn-danger" ng-click="restoreDefaults()">Restore Defaults</button>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Loans">
                <div class="form-horizontal" ng-repeat="loan in record.loans">
                    <div class="control-group">
                        <label class="control-label">Loan Amount</label>

                        <div class="controls form-inline">
                            <input type="number" step="0.05" ng-model="loan.amount" ng-required="true"/>
                            <button ng-disabled="(loan.payments.length > 0)" class="btn btn-small btn-danger" ng-click="deleteLoan(this.loan)">Delete Loan</button>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Date</label>

                        <div class="controls">
                            <input type="text" datepicker-popup="MMMM d, yyyy" ng-model="loan.startDate" show-weeks="false" ng-required="true" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Number of Payments</label>

                        <div class="controls">
                            <input type="number" step="1" class="input-mini" ng-model=" loan.numberOfPayments" ng-required="true"/>
                            <span>Weekly</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">End Date</label>

                        <div class="controls">
                            <span class="uneditable-input">{{ calculateEndDate(this.loan) | date:'longDate' }}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Annual Interest</label>

                        <div class="controls">
                            <input type="number" step="0.001" class="input-mini" ng-model="loan.apr" ng-required="true"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Payment</label>

                        <div class="controls">
                            <span class="uneditable-input input-small">{{ calculatePayment(this.loan) | currency }}</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="pull-right"><button ng-click="addLoan()" class="btn btn-small btn-primary">New Loan</button></div>
            </tab>
        </tabset>
    </form>

</div>
<div class="modal-footer">
    <button class="offset1 btn btn-success" ng-click="save()" ng-disabled="employeeForm.$invalid">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

</div>
</script>
<link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="css/ng-grid.css"/>
<link type="text/css" rel="stylesheet" href="css/payroll.css"/>

</head>
<body ng-controller="PayrollController">
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner">
        <a class="brand" href="#">Payroll</a>
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="#" ng-click="showGeneralSetup()">General Setup</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#" ng-click="showStores()">Stores</a></li>
                    <li><a tabindex="-1" href="#" ng-click="showWithholdingTypes()">Withholding Types</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tables <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="#" ng-click="showEmployee()">Employees</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#" ng-click="showWithholding()">Withholding</a></li>
                    <li><a tabindex="-1" href="#" ng-click="showSocialSecurity()">Social Security</a></li>
                    <li><a tabindex="-1" href="#" ng-click="showMedicare()">Medicare</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="./employees.html" target="_blank">Employee Records</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="./payroll-summary.html?weekEndingKey={{weekEndingKey}}" target="_blank">Payroll Summary</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#">Monthly Summary</a></li>
                    <li><a tabindex="-1" href="#">Yearly Summary</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row form-horizontal">
            <span class="span4">
                <label>Week Ending</label>
                <input type="text" datepicker-popup="MMMM d, yyyy" ng-model="weekEnding" date-disabled="disabledWeekdays(date, mode)"
                       show-weeks="false" ng-required="true" ng-readonly="true"/>
            </span>
            <span class="span4">
                <label>Paydays For The Month</label>
                <span class="uneditable-input input-mini">{{ application[weekEndingKey].payDays }}</span>
            </span>
            <span class="span3">
                <label>Holidays</label>
                <div class="btn-group" tooltip-placement="bottom" tooltip="Red = No Work, Green = Legal, Orange = Special">
                    <button type="button" ng-class="{ 'btn': true, 'btn-danger': (application[weekEndingKey].holidays.sun == 1), 'btn-success': (application[weekEndingKey].holidays.sun == 2), 'btn-warning': (application[weekEndingKey].holidays.sun == 3)}" ng-click="toggleHoliday('sun')">S
                    </button>
                    <button type="button" ng-class="{ 'btn': true, 'btn-danger': (application[weekEndingKey].holidays.mon == 1), 'btn-success': (application[weekEndingKey].holidays.mon == 2), 'btn-warning': (application[weekEndingKey].holidays.mon == 3)}" ng-click="toggleHoliday('mon')">M
                    </button>
                    <button type="button" ng-class="{ 'btn': true, 'btn-danger': (application[weekEndingKey].holidays.tue == 1), 'btn-success': (application[weekEndingKey].holidays.tue == 2), 'btn-warning': (application[weekEndingKey].holidays.tue == 3)}" ng-click="toggleHoliday('tue')">T
                    </button>
                    <button type="button" ng-class="{ 'btn': true, 'btn-danger': (application[weekEndingKey].holidays.wed == 1), 'btn-success': (application[weekEndingKey].holidays.wed == 2), 'btn-warning': (application[weekEndingKey].holidays.wed == 3)}" ng-click="toggleHoliday('wed')">W
                    </button>
                    <button type="button" ng-class="{ 'btn': true, 'btn-danger': (application[weekEndingKey].holidays.thu == 1), 'btn-success': (application[weekEndingKey].holidays.thu == 2), 'btn-warning': (application[weekEndingKey].holidays.thu == 3)}" ng-click="toggleHoliday('thu')">T
                    </button>
                    <button type="button" ng-class="{ 'btn': true, 'btn-danger': (application[weekEndingKey].holidays.fri == 1), 'btn-success': (application[weekEndingKey].holidays.fri == 2), 'btn-warning': (application[weekEndingKey].holidays.fri == 3)}" ng-click="toggleHoliday('fri')">F
                    </button>
                    <button type="button" ng-class="{ 'btn': true, 'btn-danger': (application[weekEndingKey].holidays.sat == 1), 'btn-success': (application[weekEndingKey].holidays.sat == 2), 'btn-warning': (application[weekEndingKey].holidays.sat == 3)}" ng-click="toggleHoliday('sat')">S
                    </button>
                </div>
            </span>
    </div>
</div>
<br/>
<br/>

<div class="container">
    <div class="row">
        <tabset vertical="true" class="span3">
            <tab ng-repeat="employee in employees | filter:activeOnlyFilter" heading="{{ employee.lastName + ', ' + employee.firstName }}" select="selectEmployee(this.employee)">

            </tab>
        </tabset>
        <div class="span9">
            <tabset>
                <tab heading="Timesheet">
                    <form name="timesheetForm" novalidate>
                        <div  class="form-horizontal">
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label" for="inputSickDays">Sick Days</label>
                                    <div class="controls">
                                        <input type="number" step="0.5" class="span1" id="inputSickDays" ng-model="timesheet.sickDays" required/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputVacationDays">Vacation</label>
                                    <div class="controls">
                                        <input type="number" step="0.5" class="span1" id="inputVacationDays" ng-model="timesheet.vacationDays" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label" for="inputCommission">Commission</label>
                                    <div class="controls">
                                        <input type="number" step="0.01" class="input-small" id="inputCommission" ng-model="timesheet.commission" required/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputCashAdvance">Cash Advance</label>
                                    <div class="controls">
                                        <input type="number" step="0.01" class="input-small" id="inputCashAdvance" ng-model="timesheet.cashAdvance" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-condensed timesheet">
                            <thead>
                            <tr>
                                <th width="5%">Sun</th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                                <th>Sat</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td rowspan="2" class="vertical-middle"><input type="checkbox" tabindex="1" ng-model="timesheet.sun.am"></td>
                                <td><input type="time" tabindex="4" ng-model="timesheet.mon.amIn"/></td>
                                <td><input type="time" tabindex="10" ng-model="timesheet.tue.amIn"/></td>
                                <td><input type="time" tabindex="16" ng-model="timesheet.wed.amIn"/></td>
                                <td><input type="time" tabindex="22" ng-model="timesheet.thu.amIn"/></td>
                                <td><input type="time" tabindex="28" ng-model="timesheet.fri.amIn"/></td>
                                <td><input type="time" tabindex="34" ng-model="timesheet.sat.amIn"/></td>
                            </tr>
                            <tr>
                                <td><input type="time" tabindex="5" ng-model="timesheet.mon.amOut" inout-validate/></td>
                                <td><input type="time" tabindex="11" ng-model="timesheet.tue.amOut" inout-validate/></td>
                                <td><input type="time" tabindex="17" ng-model="timesheet.wed.amOut" inout-validate/></td>
                                <td><input type="time" tabindex="23" ng-model="timesheet.thu.amOut" inout-validate/></td>
                                <td><input type="time" tabindex="29" ng-model="timesheet.fri.amOut" inout-validate/></td>
                                <td><input type="time" tabindex="35" ng-model="timesheet.sat.amOut" inout-validate/></td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="vertical-middle"><input type="checkbox" tabindex="2" ng-model="timesheet.sun.pm"></td>
                                <td><input type="time" tabindex="6" ng-model="timesheet.mon.pmIn" inout-validate/></td>
                                <td><input type="time" tabindex="12" ng-model="timesheet.tue.pmIn" inout-validate/></td>
                                <td><input type="time" tabindex="18" ng-model="timesheet.wed.pmIn" inout-validate/></td>
                                <td><input type="time" tabindex="24" ng-model="timesheet.thu.pmIn" inout-validate/></td>
                                <td><input type="time" tabindex="30" ng-model="timesheet.fri.pmIn" inout-validate/></td>
                                <td><input type="time" tabindex="36" ng-model="timesheet.sat.pmIn" inout-validate/></td>
                            </tr>
                            <tr>
                                <td><input type="time" tabindex="7" ng-model="timesheet.mon.pmOut" inout-validate/></td>
                                <td><input type="time" tabindex="13" ng-model="timesheet.tue.pmOut" inout-validate/></td>
                                <td><input type="time" tabindex="19" ng-model="timesheet.wed.pmOut" inout-validate/></td>
                                <td><input type="time" tabindex="25" ng-model="timesheet.thu.pmOut" inout-validate/></td>
                                <td><input type="time" tabindex="31" ng-model="timesheet.fri.pmOut" inout-validate/></td>
                                <td><input type="time" tabindex="37" ng-model="timesheet.sat.pmOut" inout-validate/></td>
                            </tr>
                            <tr>
                                <td rowspan="2"><input type="checkbox" tabindex="3" ng-model="timesheet.sun.eve"></td>
                                <td><input type="time" tabindex="8" ng-model="timesheet.mon.eveIn" inout-validate/></td>
                                <td><input type="time" tabindex="14" ng-model="timesheet.tue.eveIn" inout-validate/></td>
                                <td><input type="time" tabindex="20" ng-model="timesheet.wed.eveIn" inout-validate/></td>
                                <td><input type="time" tabindex="26" ng-model="timesheet.thu.eveIn" inout-validate/></td>
                                <td><input type="time" tabindex="32" ng-model="timesheet.fri.eveIn" inout-validate/></td>
                                <td><input type="time" tabindex="38" ng-model="timesheet.sat.eveIn" inout-validate/></td>
                            </tr>
                            <tr>
                                <td><input type="time" tabindex="9" ng-model="timesheet.mon.eveOut" inout-validate/></td>
                                <td><input type="time" tabindex="15" ng-model="timesheet.tue.eveOut" inout-validate/></td>
                                <td><input type="time" tabindex="21" ng-model="timesheet.wed.eveOut" inout-validate/></td>
                                <td><input type="time" tabindex="27" ng-model="timesheet.thu.eveOut" inout-validate/></td>
                                <td><input type="time" tabindex="33" ng-model="timesheet.fri.eveOut" inout-validate/></td>
                                <td><input type="time" tabindex="39" ng-model="timesheet.sat.eveOut" inout-validate/></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td>{{ timesheet.mon.hours | number:2 }} hours</td>
                                <td>{{ timesheet.tue.hours | number:2 }} hours</td>
                                <td>{{ timesheet.wed.hours | number:2 }} hours</td>
                                <td>{{ timesheet.thu.hours | number:2 }} hours</td>
                                <td>{{ timesheet.fri.hours | number:2 }} hours</td>
                                <td>{{ timesheet.sat.hours | number:2 }} hours</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="3">
                                    <span class="label label-success" ng-show="timesheet.incentiveMet">Incentive Met</span>
                                    <span class="label label-warning" ng-hide="timesheet.incentiveMet">Incentive Not Met</span>
                                </td>
                                <td colspan="3"><span class="muted">Week Total:</span> {{ timesheet.total | number:2 }} hours</td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </tab>
                <tab heading="Pay Stub" disabled="timesheetForm.$invalid" select="calculatePay()">
                    <div>
                        <div class="row">
                            <div class="span4">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Earnings</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Regular</td>
                                        <td><div class="text-right">{{ paystub.regularPay | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Overtime</td>
                                        <td><div class="text-right">{{ paystub.overtimePay | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Sick/Vacation</td>
                                        <td><div class="text-right">{{ paystub.benefitPay | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Incentive</td>
                                        <td><div class="text-right">{{ paystub.incentivePay | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Commission</td>
                                        <td><div class="text-right">{{ paystub.commission | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Sunday Pay</td>
                                        <td><div class="text-right">{{ paystub.sundayPay | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Sunday Incentive</td>
                                        <td><div class="text-right">{{ paystub.sundayIncentive | currency }}</div></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th><div class="text-right">{{ paystub.totalPay | currency }}</div></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="span5">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Deductions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Withholding</td>
                                        <td><div class="text-right">{{ paystub.withholding | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>SSS</td>
                                        <td><div class="text-right">{{ paystub.employeeSS | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Medicare</td>
                                        <td><div class="text-right">{{ paystub.employeeMedicare | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Cash Advance</td>
                                        <td><div class="text-right">{{ paystub.cashAdvance | currency }}</div></td>
                                    </tr>
                                    <tr>
                                        <td>Loan</td>
                                        <td><div class="text-right">{{ paystub.loan | currency }}</div></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <th><div class="text-right">{{ paystub.totalDeduction | currency }}</div></th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <br/>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Net Pay</th>
                                        <th><div class="text-right">{{ paystub.netPay | currency }}</div></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row text-right">
                            <a class="btn btn-primary" ng-show="paystubSaved" href="./paystub.html?weekEndingKey={{weekEndingKey}}&employeeId={{employee.id}}" target="_blank">Print</a>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

</body>
</html>