<!DOCTYPE html>
<html ng-app="payroll">
<head>
    <title>Yearly Summary</title>
    <script src="js/idbstore.js"></script>
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-0.5.0.js"></script>
    <script src="js/ng-grid-2.0.7.min.js"></script>
    <script src="js/employee.js"></script>
    <script src="js/employee-list.js"></script>
    <script src="js/withholding.js"></script>
    <script src="js/medicare.js"></script>
    <script src="js/withholding-types.js"></script>
    <script src="js/social-security.js"></script>
    <script src="js/general-setup.js"></script>
    <script src="js/store.js"></script>
    <script src="js/store.js"></script>
    <script src="js/data-service.js"></script>
    <script src="js/payroll.js"></script>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="css/ng-grid.css"/>
    <link type="text/css" rel="stylesheet" href="css/payroll.css"/>
    <style type="text/css">
        @page { size: auto; margin: 25mm 15mm 25mm 15mm; }
        .page {page-break-after:always}
        th.amount-header { text-align: center; }
        .upperline { border-top: solid 1px #000000; }
    </style>
</head>
<body ng-controller="PayrollController">
    <div class="page container" ng-repeat="store in stores">
        <div class="text-center">
            <h5>{{ store.name }}<br/><small>{{ store.address }}</small></h5>
            <h4>EMPLOYEES' YEARLY PAYROLL</h4>
            <span class="pull-right">Year: <strong>{{ weekEnding | date:'yyyy' }}</strong></span>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th rowspan="2">Employee</th>
                <th rowspan="2" width="8%" class="amount-header"><small>Total<br/>Regular<br/>Wage</small></th>
                <th rowspan="2" width="8%" class="amount-header"><small>Sick/<br/>Vacation<br/>Pay</small></th>
                <th rowspan="2" width="8%" class="amount-header"><small>Incentive<br/>Pay</small></th>
                <th rowspan="2" width="8%" class="amount-header"><small>Comm<br/>-ission</small></th>
                <th rowspan="2" width="8%" class="amount-header"><small>Gross<br/>Pay</small></th>
                <th colspan="4" class="amount-header"><small>Deductions</small></th>
                <th rowspan="2" width="8%" class="amount-header"><small>Net<br/>Amount<br/>Paid</small></th>
            </tr>
            <tr>
                <th width="8%" class="amount-header"><small>SSS</small></th>
                <th width="8%" class="amount-header"><small>M-Care</small></th>
                <th width="8%" class="amount-header"><small>W-Tax</small></th>
                <th width="8%" class="amount-header"><small>Loan</small></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in employees | filter:{'storeId':store.id}">
                <td>{{ employee.lastName }}, {{ employee.firstName }}</td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'regularPay') | currency }}</span></td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'benefitPay') | currency }}</span></td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'incentivePay') | currency }}</span></td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'commission') | currency }}</span></td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'totalPay') | currency }}</span></td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'employeeSS') | currency }}</span></td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'employeeMedicare') | currency }}</span></td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'withholding') | currency }}</span></td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'loan') | currency }}</span></td>
                <td><span class="pull-right">{{ calculateYearlyTotal(employee, weekEnding, 'netPay') | currency }}</span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Totals</th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'regularPay') | currency }}</span></th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'benefitPay') | currency }}</span></th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'incentivePay') | currency }}</span></th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'commission') | currency }}</span></th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'totalPay') | currency }}</span></th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'employeeSS') | currency }}</span></th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'employeeMedicare') | currency }}</span></th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'withholding') | currency }}</span></th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'loan') | currency }}</span></th>
                <th><span class="pull-right">{{ calculateYearlyTotal(store.id, weekEnding, 'netPay') | currency }}</span></th>
            </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>